*{
    margin: 10px;
    padding: 0;
}

body{
    background-image: url('background.jpg');
}

.Encryption{
    height: 130vh;
    margin: 3;
}
.text-center{
    /*background-color: aqua;*/
    color: pink;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    margin: 10px 20px; /*33 400 */
    /* border: 2px solid rgb(0, 0, 0);
    border-radius: 5px; */
    padding: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

.form{
    max-width: 870px;
    margin: -30px auto;
}

.form-input{
    width: 100%;
    padding: 5px 3px;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 9px;
    margin: 3px 0;
}

.btn{
    border: 2px solid black;
    padding: 9px 17px;
    margin: 21px 392px; /*21 392*/
    border-radius: 100px;
    color: black;
    cursor: pointer;
    font-family: 'Ubuntu',sans-serif;
    font-size: 17px;
    margin-top: 3px;
}

.msg{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

.output{
    background-color: white;
    border: 2px solid grey;
    border-radius: 9px;
}

.text{
    color: yellow;
    margin: -2px;
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-size: 22px;
    text-shadow: 2px 2px 5px red;
    padding: 7px;
    margin-top: -15px;
}

.Decryption{
    height: 130vh;
    margin: 3;
    margin-top: -50px;
}

.btnn{
    border: 2px solid black;
    padding: 9px 17px;
    margin: 21px 392px;
    border-radius: 100px;
    color: black;
    cursor: pointer;
    font-family: 'Ubuntu',sans-serif;
    font-size: 17px;
    margin-top: 3px;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}